:root {
    --input-purple: #654F88;
}


.field {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.label {

}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input {
    margin-top: 5px;
    padding: 0 10px 0 10px;
    height: 28px;
    background-color: var(--input-purple);
    
    color: white;

    outline: none;
    border: none;
    border-radius: 16px;


    
}